<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.runtime.remoting>
		<application>
			<client>
				<!-- URLs for local and remote clients are as follows:
					Local: url="tcp://localhost:5101/UlvacFactory.rem"
					Remote: url="tcp://<server computer name>:5100/UlvacFactory.rem"
				-->	
				<wellknown type="GWGemClient, Asyst.ConX300" url="tcp://localhost:5101/GWGemClient.rem" />
			</client>
		</application>
	</system.runtime.remoting>
	<system.diagnostics>
        <switches>
            <!-- Set the value property of the TraceControl switch to:
            0(off), 1(error), 2(warning), 3(info), 4(verbose) -->
            
            <add name="MessageProcess_TraceControl" value="4" />
        </switches>
    </system.diagnostics>	
</configuration>
